node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
components/Screen1.js
components/Screen2.js
components/Start copy.js
Icon
chatTo.code-workspace
components/chat_copy.js
components/ongoing.js
components/Chat-backup.js
components/Chat_new.js
components/Chat-backup-2.js
.vscode/settings.json
